LOGGER_NAME=FletPrototype
LOGGER_LEVEL=20
LOGGER_TRACE_SCREEN=true
LOGGER_TRACE_FILE=true
LOGGER_FILE_PATH=log/log

TRANSLATOR_DOMAIN=messages
TRANSLATOR_LOCALE_DIR=resource/locale
TRANSLATOR_DEFAULT_LANG=en

SETTINGS_FILE=settings.json
OUTPUT_DIR=output